<odoo>
  <menuitem id="menu_crypto_cashout_root" name="Crypto" parent="account.menu_finance_entries" sequence="65" groups="payments_crypto_conversion.group_crypto_transfer_viewer"/>
  <menuitem id="menu_crypto_asset" name="Crypto Assets" parent="menu_crypto_cashout_root" action="action_crypto_asset" sequence="10"/>
  <menuitem id="menu_crypto_event" name="Provider Events" parent="menu_crypto_cashout_root" action="action_crypto_event" sequence="20"/>
  <menuitem id="menu_crypto_snapshot" name="Rate Snapshots" parent="menu_crypto_cashout_root" action="action_crypto_snapshot" sequence="30"/>
  <menuitem id="menu_crypto_settlement" name="Settlements" parent="menu_crypto_cashout_root" action="action_crypto_settlement" sequence="40"/>
  <menuitem id="menu_crypto_cashout_payout" name="Crypto Transfers" parent="menu_crypto_cashout_root" action="action_crypto_cashout_payout" sequence="50"/>
  <menuitem id="menu_crypto_cashout_provider" name="Transfer Providers" parent="menu_crypto_cashout_root" action="action_crypto_cashout_provider" sequence="60" groups="payments_crypto_conversion.group_crypto_transfer_admin"/>
  <menuitem id="menu_crypto_cashout_config" name="Transfer Configurations" parent="menu_crypto_cashout_root" action="action_crypto_cashout_config" sequence="70" groups="payments_crypto_conversion.group_crypto_transfer_admin"/>
</odoo>
